.problemContainer{
    background-color: white;
    color: #333333;
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .difficulty{
        color: #2ECC71;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .constraint{
        margin-left: 20px;
    }

}

.changeColor{
    color:white;
}